body{margin: 0; background-color: black; color: #ffffff; font-family: 'Source Sans Pro', sans-serif; overflow: hidden; font-weight: 100px;}
#logo{background-color: green; width: 100%; min-height: 5px; padding: 10px; color: red; text-align: center; border: 2px blue; border-radius: 5px;}
#menu{color: green; width: 100%; margin-bottom: 20px;}
a.guzik{ text-decoration: none; color: red;  font-size: 20px; margin-left: 15px;}
a.guzik:hover{color: yellow;}
.pole{color: #fffff; background-color: transparent;}
#loguj {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)}
